body {
  margin: 0;
  background: #f7f7f7;
}

.navbar {
  padding: 10px;
  background: #181c2b;
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.navbar h2 {
  margin: 0;
}

.navbar h2 span {
  color: #eee;
}

.data-search {
  width: 40%;
}

.data-search input {
  border: 0;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.7);
  transition: all ease 0.2s;
}

.data-search input:active {
  background: #181c2b;
  color: #eee;
}

.data-search input:focus {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #eee;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.data-search ul {
  background: #181c2b;
  border: 0;
  border-radius: 2px;
}

.data-search ul li {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: rgba(255, 255, 255, 0.8);
  transition: all ease 0.1s;
}

.data-search ul li:hover {
  color: #eee !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.filters-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.filter {
  background: white;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 2px rgba(24, 28, 43, 0.2);
  color: #181c2b;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all ease 0.2s;
}

.filter:hover {
  border: 1px groove #181c2b;
  box-shadow: 0 1px 2px rgba(24, 28, 43, 0.4);
}

.result-list-container {
  overflow: hidden;
  width: 75%;
}

.books-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.book-content {
  flex-grow: 1;
  width: 200px;
  max-width: 250px;
  margin: 10px;
  background: transparent;
  transition: all ease 0.1s;
  overflow: hidden;
}

.book-content:hover {
  box-shadow: 1px 2px 2px 2px rgba(24, 28, 43, 0.2);
}

.image {
  text-align: center;
  position: relative;
}

.image img {
  height: 250px;
}

.rating {
  position: absolute;
  left: 250px;
  top: 0px;
  transition: all ease 0.2s;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  font-weight: 700;
  border-radius: 2px;
  background: rgba(24, 28, 43, 0.8);
  color: #eee;
}

.details {
  position: absolute;
  left: -300px;
  width: 100%;
  bottom: 0;
  border-radius: 2px;
  padding: 5px 8px;
  transition: all ease 0.2s;
  background: rgba(24, 28, 43, 0.9);
}

.book-content:hover .details {
  left: 0;
  text-align: left;
}

.details h4,
p {
  margin: 5px 0;
}

.details h4 {
  color: #eee;
}

.details p {
  color: #f7f7f7;
}

.book-content:hover .rating {
  left: 0;
}

.toggle {
  display: none;
}

.appbase {
  display: none;
  padding: 0;
  width: 0;
}

@media (max-width: 768px) {
  .toggle {
    padding: 5px 8px;
    color: #eee;
    background: #0b6aff;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    z-index: 2;
    display: inline;
    outline: none;
    cursor: pointer;
  }

  .filters-container {
    display: none;
  }

  .result-list-container.full {
    width: 100%;
    display: block;
  }

  .result-list-container {
    width: 0%;
    display: none;
  }

  .filters-container.full {
    width: 100%;
    display: block;
  }
}
